
.show {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  weight: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
